.App {
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

/* PAGE - HOME */
.page-home .select__quiz {
  height: 70vh;
  overflow: scroll;
}

.page-home .quiz-category-card {
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/* PAGE - GAME */
.page-game {
  position: relative;
  height: 100%;
  /* background: orange; */
  overflow: hidden;
}

.page-game .game__area {
  /* background: pink; */
  min-height: 75%;
}

.page-game .card.game__area__multiple__choice {
  background: lightblue;
  height: 75%;
}

.page-game .card.game__area__multiple__choice > .card-body {
  display: flex;
  flex: auto;
  flex-flow: column;
  justify-content: space-around;
}

.game__area__select_answer__section {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.page-game .game__area__select__answer__button__button {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
}

.page-game .btn-group.game__area__select__answer > button {
  padding: 1.5rem;
  margin: 1.5rem;
}

.page-game .floating-action-button {
  left: 1em;
  right: auto;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.page-game .floating-action-button:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

/* PAGE - CREATE */
.page-create .create__quiz__area {
  height: 75vh;
  overflow: scroll;
  margin-bottom: 2rem;
}

.page-create .page__create__select_action {
  display: flex;
  justify-content: space-around;
}

.page-create .card__question {
  margin-bottom: 2rem;
  padding: 1rem;
}

.page-create .card__question button {
  margin-top: 1rem;
}

/* HEADER */
.header {
  margin-bottom: 2rem;
}

/* BUTTONS */
.floating-action-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
}
